*{
    padding: 0;
    margin: 0;
    /* color: black; */
    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12;
}
body{
    background: white
}

.hedear_inner_content{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    
}

.barra_navegacao{
    /* background-color: #2b2a2a; */
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 99;
    background: rgb(31, 31, 31);

    box-shadow: 10px 0px 10px black;
}
.barra_navegacao>div{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
    
}
.logo{
    color: white;
    box-shadow: 10px 3px 50px white;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;

    padding: 1rem;

}
.logo>span{
    color: blue;
    box-shadow: 10px 3px 50px blue;
    border-top-left-radius: 50px;
    padding: 1rem;
}

/* Estilizando a lista */
nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    cursor: pointer;
    
}

/* Estilizando os icons */
.icons{
    display: flex;
    align-items: center;
}
.icons img{
    width: 30px;
    cursor: pointer;
}

.icons img:first-child{
    margin-right: 1rem;
}

/* Estilizar cada elemento */
nav ul li{
    color: white;
    margin-right: 1rem;
    cursor: pointer;

}
nav ul li:hover{
    border-bottom: 3px solid blue;
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

.btn_menu{
    display: none;
}
.btn_view_more{
    border: none;
    padding: 10px;
    height: 1.3cm;
    width: 300px;
    font-size: 12pt;
    /* border-radius: 50px; */
    background: rgb(2, 67, 165);
    /* border: 1px solid black; */
    color: white;
    transition: all 0.2s;
}

.btn_view_more:hover{
    border: none;
    padding: 10px;
    height: 1.3cm;
    width: 300px; 
    font-size: 12pt;
    /* border-radius: 50px; */
    background: rgb(2, 54, 131);
    /* border: 1px solid black; */
    cursor: pointer;
    color: white;
    transition: all 0.2s;
    
}
.header_bottom-side{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.header_buttom_left{
    height: 100%;
    flex-basis: 50%; /*para ele dividir o espaco com o outro lado*/
}

.header_buttom_left h2{
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

.header_buttom_left p{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: justify;
}
.header_buttom_right{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


/* Criando uma Media Query */
@media (max-width:800px) {
    .logo{
        font-size:1.2rem;
    }
    .header_bottom-side{
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }
    nav{
        position: absolute;
        background: #222222;
        width: 100%;
        top: 46px;
        display: none; /*Para esconder o menu*/
    }
    .show_menu nav{
        display: block;
    }
    nav ul{
        flex-direction: column;
    }
    nav ul li{
        text-align: center;
        padding: 0.8rem;
    }
    .btn_menu{
        display: block;
    }
}

/*Main content*/
.gray_background{
    background: #222222;
}
.pageContent{
    max-width: 1280px;
    margin: 0 auto;
}
.img1_pageContent{
    display: grid;
    align-items:center;
    justify-content: center;
    padding: 4rem 1rem;
}
.img1_pageContent img{
    width: 70%;
    height: 100%;
}

.cols-3{
    grid-template-columns: repeat(3, 1fr);
    gap:3rem; 
}
.colos-3 img{
    max-width: 100%;
}
.cols-4{
    grid-template-columns: repeat(4, 1fr);
    gap:1rem;    
}
.products img{
    width: 6 0%;
    height: 50%;
    
    
}

.img1_pageContent>* {
    cursor: pointer;
    /* transition: all 0.2s; */
}
.img1_pageContent>*:hover{
    /* transform: translateY(-20px); */
}
.section-title{
    text-align: center;
    margin-top: 4rem;
    font-size: 1.8rem ;
}
.underline{
    height: 5px;
    width: 100px;
    background: rgb(23, 112, 245);
    border-radius: 100px;
    margin: 8px auto 0 auto;
}
.rate{
    color: rgb(255, 208, 0);
    font-size: 1.3rem;
}
main{
    background:rgb(230, 228, 228) ;
}
.products{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nome_produto{
    font-weight: 600;
    margin-top: 0.4rem;
}
.preco{
    font-weight: 600;
}
.Screen_smartWatch{
    background-color: #2b2a2a;
}
.smartWatch {
    color: white;
    flex-direction: row-reverse;
    padding: 5rem 1rem;
}

.smartWatch img{
    max-width: 500px;
}


/* Media queries para o main */
@media (max-width: 800px) {
    .section-title{
        font-size: 1rem;
    }
    .cols-3{
        display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }

    .cols-4{
        grid-template-columns: repeat(2,1fr);
               
    }

    .nome_produto, .preco, .rate{
        max-height: 1rem;
        overflow: hidden;
        font-size: 0.8rem;
    }
    .smartWatch {
        flex-direction: column-reverse;
    }

    .smartWatch img{
        margin-bottom: 4rem;
    }
    
}

/* Estilizando os testemunho */
.testemunhos{
    display: flex;
    padding: 4rem 1rem;
    justify-content: space-evenly;
}

.testemunho{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.514);
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.2s;
    cursor: pointer;
}

.testemunho:hover{
    transform: translateY(-20px);
}
.testemunho p{
    margin: 5px 0;
}
.testemunhoimg{
    border-radius: 100px;
    border: 2px solid rgb(28, 66, 235);
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testemunhoimg img{
    width: 100px;
    height: 100px;
    border: 1.5px solid rgb(28, 66, 235);
    border-radius: 100px;
    
}
.testemunho p:last-child{
    font-weight: bold;
}

/* Para os testemunhos */
@media (max-width: 800px) {

    .testemunhos{
        flex-direction: column;
        gap: 3rem;
    }
}
.Myfooter{
    background-color: #2b2a2a;
     
}
.logoFooter{
    width: 250px;
}

/* Mechendo com o footer */
.footerContent{
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    padding: 4rem 1rem;
    gap: 100px;
}
.downloadoption>*{
    margin: 1rem 0;
}

.downloadoption>p:first-child{
    font-weight: bold;
    color: white;
}
.downloadoption>div{
    display: flex;
}
.downloadoption>div img{
    width: 180px;
}

.logoFooter{
    text-align: center;
}

.logoFooter p{
    margin-top: 40px;
}
.links_footer h3{
    color: white;
    margin-bottom: 0.8rem;
}
.links_footer ul li{list-style: none;}

.links_footer ul{
    margin-bottom: 0.5rem;
    cursor: pointer;
}
.bar_copyright{
    width: 70%;
    margin: 10px auto;
    color: rgb(233, 233, 233);
}
.text-copyright{
    color: white;
    text-align: center;
   padding: 10px;

}
/* Usando o media query no footer */
@media (max-width: 800px) {
    .footerContent{
        display: inline;
        font-size: 0.8rem;
    }
    .footerContent>div{
        padding: 1rem;
    }

    .downloadoption>div{
        display: inline;
    }

    .downloadoption>div img{
        width: 120px;
    }

    .text-copyright{
        font-size: 0.8rem;
    
    }
}

.btnComprar{
    border: none;
    padding: 10px;
    height: 1.3cm;
    width: 250px; 
    font-size: 12pt;
    border-radius: 30px;
    border: 1px solid rgb(2, 54, 131);
    background: none;
    color: black;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.btnComprar:hover{
    background: rgb(2, 54, 131);
    color: white;
 
    /* transform: translate(4); */
}

.header_buttom_right img{
    width: 115%;
}